:root {
    --titles-font: 'Nunito Sans', sans-serif;
    --text-font: 'Open Sans', sans-serif;
    --color-bright: #ffffff;
    --color-dark: #ff0000;
    --background-color-bright: #ffffff;
    --background-color-dark: #28272C;
    --button-shadow:  0 3px 6px #FF00004D;
    --formu-font-color: #B2B2B2;
}


/*PAGE CONTAINER*/
.page__container {
    width: 1088px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /*SECTION TITLE*/
.section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}
.section__title__line {
    width: 50px;
    height: 3px;
    margin: 8px;
    background-color: var(--color-dark);
    box-shadow: 0 1px 6px #FF00004D;
}
.section__title__text {
    font-family: var(--titles-font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
}

/*SECTION BUTTON*/
.section__btn {
    padding: 11px 29px 10px 29px;
    box-shadow: var(--button-shadow);
    border-radius: 40px;
    background-color: var(--color-dark);
    color: var(--color-bright);
    text-transform: uppercase;
    font-family: var(--titles-font);
    font-size: 14px;
    width: fit-content;
    text-decoration: none;
}

