


.page__header {
    height: 807px;
    width: 100%;
    background-image: url("../images/Image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

}
.header__wrap {
    height: 88px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.66);
    border-bottom: 2px solid rgb(61, 60, 60);

}

.page__container {
    display: flex;
    justify-content: space-between;
}


.header__logo {
    width: 153px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title__text {
    font-family: var(--titles-font);
    font-weight: bold;
    text-transform: uppercase;
}
.header__title__text.left {
    color: var(--color-dark);
    font-size: 35px;
    padding: 8px;
}

.header__title__text.right {
    color: var(--color-bright);
    font-size: 35px;
}
.header__nav {
    width: 486px;
    height: 88px;
}

.nav__list {
    display: flex;

}
.nav__list_item {
    width: 128px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list_item__link {
    display: block;
    padding: 33px 40px 35px 40px;
    font-family: var(--titles-font);
    text-transform: uppercase;
    color: var(--color-bright);
    text-decoration: none;
    text-align: center;
}
.nav__list_item__link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.header__wrap__second {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header__article {
    width: 100%;
    height: 297px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__article__title {
    font-family: var(--titles-font);
    font-weight: 900;
    color: var(--color-bright);
    font-size: 90px;
    text-transform: uppercase;
}

.header__article__text {
    font-family: var(--titles-font);
    color: var(--color-bright);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.header__article_btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.header__button__left, .header__button__right{
    display: inline-block;
    padding: 22px 55px;
    box-shadow: var(--button-shadow);
    text-transform: uppercase;
    font-family: var(--titles-font);
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    text-decoration: none;
}
.header__button__left {
    background-color: var(--color-dark);
    color: var(--color-bright);
}
.header__button__right{
    background-color: var(--color-bright);
    color: var(--color-dark);
}

.header__central-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    background-color: var(--color-dark);
    border-radius: 50%;
    position: absolute;
    bottom: -22px;
}